.collection-desc {
  position: absolute;
  bottom: 20vh;
  width: 100vw;
}

.horizaontal-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  position: absolute;
  flex-wrap: nowrap;
  top: 19vh;
  width: 100vw;
  height: 60vh;
  padding: 5vh 0;
  justify-content: space-around;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  .product-container {
    margin: 0 12px;
    min-width: 50vh;
    min-height: 50vh;
    overflow: hidden;
    display: inline-block;
  }

  .product-img {
    width: 100%;
    // height: 100%;
  }

  .product-img-2 {
    z-index: 10;
    width: 100%;
    // height: 100%;
  }
}

.scroll-advice {
  position: absolute;
  top: 10px;
  right: 50px;
}

.description {
  position: absolute;
  top: 0;
  left: 60vw;
  width: 20vw;
}

.hover-hide {
  display: none;
}
