@import "presets";
$grid-border: 1px solid $dark-hue;
$grid-columns: 4;

@media (min-width: 901px) {
  .grid-header {
    position: absolute;
    width: 100vw;
    height: 20vh;
    display: grid;
    top: 0;
    grid-template-columns: repeat($grid-columns, 1fr);
    z-index: -10;
    // grid-gap: 10px;
    // grid-auto-rows: minmax(calc(100vh / 3), auto);

    @for $i from 1 to $grid-columns {
      .grid-1-#{i} {
        grid-column: 1;
        grid-row: #{i};
      }

      .grid-display {
        border-right: $grid-border;
        border-bottom: $grid-border;
      }

      .mobile-active {
        display: none;
      }
    }
  }
}

@media (max-width: 900px) {
  .grid-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: -10;
    // grid-gap: 10px;
    // grid-auto-rows: minmax(calc(100vh / 3), auto);

    @for $i from 1 to 3 {
      .grid-1-#{i} {
        grid-column: 1;
        grid-row: #{i};
      }
    }

    .grid-display {
      border-right: $grid-border;
      border-bottom: $grid-border;
    }
  }
}
