@import "presets/color-margin";

.promo-styling {
  width: 84vw;
  height: 84vh;
  margin: 8vh 8vw;
  overflow: hidden;

  @media screen and (orientation: landscape) {
    img {
      width: 100%;
    }
  }
  @media screen and (orientation: portrait) {
    img {
      height: 100%;
    }
  }

  h1 {
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    color: white;
  }

  .description {
    position: absolute;
    right: 9vw;

    p {
      color: white;
    }
  }
}
