$primary-background: #f2f2f2;
$primary-black: #1a1a1a;
$light-hue: #e3e0d7;
$dark-hue: #c0c0c0;

$margin-small: 20px;
$margin-primary: 30px;
$margin-component-top: 112px;
$margin-component-side: 150px;

.z-1 {
  z-index: 1;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-left-30 {
  margin-left: 30px;
}

.position-a {
  position: absolute;
}
