$main-font-family: "Playfair Display", serif;
$bold-font-weigth: 700;
$regular-font-weigth: 500;
$font-color: #1a1a1a;

//====================FONT VALUES====================//

.font-large {
  font-family: $main-font-family;
  font-size: 96px;
  font-weight: $bold-font-weigth;
  color: $font-color;
  text-decoration: none;
}

.font-big {
  font-family: $main-font-family;
  font-size: 64px;
  font-weight: $bold-font-weigth;
  color: $font-color;
}

.logo {
  font-family: $main-font-family;
  font-size: 24px;
  font-weight: $bold-font-weigth;
  color: $font-color;
  text-decoration: none;
}

.link-font {
  font-family: $main-font-family;
  font-size: 17px;
  font-weight: $regular-font-weigth;
  text-decoration: none;
  color: $font-color;
}

.description-font-large {
  font-family: $main-font-family;
  font-size: 17px;
  font-weight: $bold-font-weigth;
  color: $font-color;
}

.paragraf-font {
  font-family: $main-font-family;
  font-size: 14px;
  font-weight: $regular-font-weigth;
  color: $font-color;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
